html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, cyan, yellow);
    background-size: cover;
}

h2 {
    text-align: center; 
    padding: 20px;
    color: black;
}

.container {width: 80%;}