html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(https://wallpapercave.com/wp/wp8023227.jpg); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
}

h2 {
    text-align: center; 
    padding: 20px;
    color: aliceblue;
}

label {
    color: aliceblue;
}
.container {
    width: 80%;
}
