* {
  margin: 0;
  padding: 0;
}

.interna {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: aliceblue;
}

.custom-container {
    background-color: white;   
}

.custom {
    background-color:  rgb(15, 14, 14);
}

.custom-text {
    color: black;
}


p, h1, h2, h3, h4, h5 {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
h3, h4, h5 {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

ul{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 2px;
    margin: 0px;
    color: aliceblue;
}
ul .logo-container {
    display: flex;
    align-items: center;
    padding-right: 200px;
}

a{
    color: aliceblue;
}
